body {
    margin: 0;
    padding: 0;
    background-image: url(1.jpg);
    
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    font-weight: 500;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header {
    background: white;

}

header::after {
    content: '';
    display: table;
    clear: both;

}

.logo {
   
    height: 65px;
    width: 250px;
    margin: 0px;
    left: 100px;
    position: fixed;

    


}


nav {
    
    background-color: white;
    width: 100%;
    text-align: center;

    
}

nav ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    background-color: white;
    float: right;
    margin-right: 50px;
    display: block;

    
   

}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 23px;
    background-color: white;
    bottom: 10px;
    position: relative;
    
    
    
}

nav a {
    color:#567;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    font-family: "Verdana";
    font-weight: 400;

    

}

nav a:hover{
    color: #59a7d1;
}

nav a:before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #59a7d1;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 0ms;

}

nav a:hover::before{
    width: 100%;
}
#about-us{
    margin: 30px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 582px;
    background-image: linear-gradient(to top left,#ff8a00,#e52e71)!important;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 45%;
    left: 38%;
    margin-top: -140px; 
    margin-left: -100px; 
    font-weight: bold;
    height: 400x;

}
  


#use-app{
    
    text-align: center;

  
}
 
.button {     
    background-color: #567;
    background-repeat:no-repeat;
    border: 1px solid #567;
    cursor: pointer;
    overflow: hidden;  
    border-radius: 25px; 
    text-align: center; 
    color: white; 
    padding: 13px 28px; 
    float: right;
    margin: 0px;
    margin-left: 50px;
    font-family: "Verdana";
    font-weight: bold;

    
    

    
}

.div2{
    font-size: 35px;
}

.button2{
    background-image: linear-gradient(to top left,#ff8a00,#e52e71)!important;
    background-repeat:no-repeat;
    border: 1px Solid white;
    border: none;
    cursor: pointer; 
    overflow: auto; 
    border-radius: 40px; 
    text-align: center; 
    color: white; 
    padding: 20px 35px; 
    float: middle;
    margin-left: 795px;
    margin-top: 620px;
    font-family: "Verdana";
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    
    

  

}


#Learn{
    font-size: 15px;
    color: turquoise;
    text-decoration: none;
    font-weight: bold;
}

/*  
.BigImg{
    position: absolute;
    left: 0;
    top: 0;
    height: 50vh;
    width: 50px;
    animation: animate 15s ease-in-out infinite;
    


} 

 @keyframes animate{
    0%,100%{
        background-image: url(1.jpg);
    }
       25% {background-image: url(2.jpg)
            };
        background-image: url(3.jpg);
        background-image: url(4.jpg);
        background-image: url(5.jpg);
        background-image: url(6.jpg);
        background-image: url(7.jpg);
        background-image: url(8.jpg);
    }
    
} */